@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", serif;
}

.bg-medium {
  background-color: #d2d3da;
}

.bg-high {
  background-color: #4b5efc;
  color: white;
}

.container {
  width: 257px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #17171c;
  color: #ffffff;
  text-align: right;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.display {
  height: 20vh;
  padding: 1.5rem;
}

.previous-active {
  font-size: 28px;
  color: #d2d3da;
  line-height: 2;
  font-weight: 200;
}

.current-active {
  font-size: 38px;
  font-weight: 200;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  gap: 10px;
  padding: 10px;
}

.btn {
  width: 45px;
  height: 45px;

  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.backspace {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backspace svg {
  width: 30px;
}

.equals-to {
  width: 100%;
  grid-column: 3/5;
}
